<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="manifest" href="/manifest.webmanifest">

<div class="list-container">
  <h1 class="title">To-Do-List</h1>
  <div class="input-group input-container">
    <input type="text" maxlength="38" class="input-task" placeholder="{{placeholder}}" aria-label="Recipient's username" aria-describedby="basic-addon2" #task />
    <div class="input-group-append add-task">
      <button class="btn btn-outline-secondary" (click)="addTask(task.value)">Adicionar Tarefa</button>
      <!--<button class="btn btn-outline-secondary" (click)="addTaskOffline(task.value)">Adicionar Tarefa</button>-->
    </div>
  </div>

  <br />
  <br />

  <div *ngIf="online">
    <ul class="list-group" *ngFor="let item of itens">
      <li class="list-group-item d-flex justify-content-between align-items-center item-row">
        <span class="item-name">{{item.title}}</span>
        <button type="button" (click)="removeTask(item.id)" class="close remove-item" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </li>
    </ul>
  </div>

  <div *ngIf="!online">
    <ul class="list-group" *ngFor="let item of list">
      <li class="list-group-item d-flex justify-content-between align-items-center item-row">
        <span class="item-name">{{item.item}}</span>
        <button type="button" (click)="removeTask(item.id)" class="close remove-item" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </li>
    </ul>
   </div>
</div>
